<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="../bower_components/angular/angular.js"></script>
    <style>
        .status-true {
            text-decoration: line-through;
        }
    </style>
</head>
<body ng-controller="myController">

<h1 class="text-center">My todo list</h1>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">You got {{totalThings()}} things todo</h3>
            </div>
            <div class="panel-body">
                <ol>
                    <li ng-repeat="x in todos"><input type="checkbox" ng-model="x.status"/> <span
                            class="status-{{x.status}}">{{x.data}}</span></li>
                </ol>
                <input type="text" class="form-control" name="todoInput" ng-model="todoInput">
                <br/>

                <div class="btn-group  pull-right">
                    <button type="button" class="btn btn-success" ng-click="save()">Add</button>
                    <button type="button" class="btn btn-infor" ng-click="clear()">Clear</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope) {
        $scope.todos = [];
        $scope.save = function () {
            $scope.todos.push({data: $scope.todoInput, status: false});
            $scope.todoInput = '';
        };
        $scope.clear = function () {
            var x;

            for (x in $scope.todos) {
                if ($scope.todos[x].status) {
                    $scope.todos.splice($scope.todos.indexOf(x), 1);
                }
            }
        };
        $scope.totalThings = function () {
            return $scope.todos.length;
        };
    });

</script>
</body>
</html>
